.selectRoom{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	padding: 10px;
	margin: 10px 0px;
}

.img_box{
	width: 50%;
	max-height: 350px;
	margin-right: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_box img{
	width: 100%;
}

.text_box{
	width: calc(50% - 10px);
	padding: 30px;
	border: 1px solid var(--gray);
}


.text_box h4{
	font-size: 25px;
}

.text_box p{
	color: #696969;
	margin: 10px 0px;
}

.text_box ul{
	margin-left: 30px;
	font-size: 14px;
	font-weight: 700;
}

.text_box h5{
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
}

.text_box h5 span{
	font-size: 22px;
	font-weight: 700;
}

.selectRoom h3{
	width: 100%;
	padding: 10px;
	margin: 50px 0px;
	border: 1px solid #aaaaaa;
}


.selectRoom h3 a{
	display: inline-block;
	margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
	font-weight: 700;
    position: relative;
    border: 2px solid #000;
    padding: 10px 40px;
	z-index: 10;
	transition: ease-out 0.3s;
}

.selectRoom h3 a:after,
.selectRoom h3 a:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 0px;
    background: #fff;
    transition: all ease 0.3s;
}
  
.selectRoom h3 a:after{
    left: auto;
    right: 0;
  
}
  
.selectRoom h3 a:hover:after,
.selectRoom h3 a:hover:before{
    width: 25px;
}

.selectRoom h3 a:hover{
	color: #fff;
	background: #000;
}



.selectRoom h3 label{
	margin-left: 5px;
	font-weight: 400;
}


.checkIn{
	padding-left: 0px;
}

.form_input{
	height: 70px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0px;
}

.form_input input{
	height: 100%;
	width: calc(50% - 100px);
	margin-right: 10px;
	padding-left: 10px;
	font-weight: 700;
	font-size: 15px;
	color: #000;
	border: 2px solid #000;
}

.form_input button{
	width: 180px;
	height: 100%;
	display: flex;
	cursor: pointer;
}








@media screen and (max-width: 1100px){
	.selectRoom{
		margin: 20px 0px;
	}
	
	.img_box{
		width: 100%;
		margin-right: 0px;
	}
	
	.img_box img{
		width: 100%;
	}
	
	.text_box{
		width: 100%;
		padding: 10px;
	}

	
	.selectRoom h3 a{
		display: block;
		margin-left: 0px;
		margin-top: 10px;
		text-align: center;
	}
	
	.selectRoom h3 a:hover:after,
	.selectRoom h3 a:hover:before{
		width: 15px;
	}
	
	
	
	.form_input{
		height: auto;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0px;
	}
	
	.form_input input{
		height: 50px;
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	
	.form_input button{
		width: 100%;
		height: 60px;
		margin: 0;
	}

	.toBook{
		height: 250px;
	}
}