*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  transition: ease-out 0.3s;
  opacity: 0;
  height: 100vh;
  border: 10px solid #fff; 
}

.wrapper.active {
  visibility: visible !important;
  opacity: 1 !important;
}

#edit-btn {
  position: relative;
}

.toBook{
  position: static;
}


.cloudimage-inner-box div{
  display: none;
}

@media screen and (max-width: 1100px){
  .wrapper {
    height: auto;
  }
}