header{
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 10px solid var(--bg);
  border-bottom: 0;
}


.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slick-list,
.slick-track {
  width: 100%;
  height: 100%;
}

.slider__item {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}




.slick-dots{
  display: none!important;
}



.textBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(90deg, #fff, transparent);
}

.textBlock h2{
  font-size: 50px;
  margin: 10px 0;
  transform: translateX(-30px);
  opacity: 0;
  transition: ease 0.3s;
  -webkit-text-stroke: 2px;
	-webkit-text-stroke-color: #000;
	-webkit-text-fill-color: transparent;
}

.slick-active .textBlock h2{
  opacity: 1;
  transform: translateX(0);
}

.textBlock p{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  width: 400px;
  transform: translateX(30px);
  opacity: 0;
  transition: ease 0.3s;
}


.slick-active .textBlock p{
  transition-delay: 0.3s;
  opacity: 1;
  transform: translateX(0);
}





.textBlock a{
  display: inline-block;
  position: relative;
  margin-top: 20px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid var(--text);
  font-weight: 700;
  font-size: 12px;
  padding: 15px 40px;
  outline: none;
  transform: translateY(30px);
  opacity: 0;
  transition: ease 0.3s;
}

.slick-active .textBlock a{
  transition-delay: 0.6s;
  opacity: 1;
  transform: translateY(0);
}

.textBlock a:after,
.textBlock a:before{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--text);
  transition: all ease 0.3s;
  left: 0;
  top: calc(50% - 1px);
}

.textBlock a:before{
  left: auto;
  right: 0;
}
.textBlock a:hover:after,
.textBlock a:hover:before{
  width: 25px;
}
.textBlock a:hover{
  background: var(--bg);
  color: var(--text);
}

.bgImg{
  border: 2px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: opacity ease-out 0.6s;
  z-index: -1;
}







.rooms{
    position: relative;
  	padding: 10px;
    height: 1240px;
    display: flex;
    flex-wrap: wrap;
}

.room{
  position: relative;
  overflow: hidden;
}
  
.room:nth-child(4n + 1){
    height: 600px;
    width: 30%;
}


.room:nth-child(4n + 1) img{
  width: auto;
  height: 100%;
}
.room:nth-child(4n + 2){
  position: relative;
  left: 10px;
  width: calc(70% - 10px);
  height: 340px;
}
.room:nth-child(4n + 2) img{
  width: 100%;
}
.room:nth-child(4n + 3){
  position: absolute;
  width: calc(35% - 20px);
  height: 250px;
  top: 360px;
  right: 10px;
}
.room:nth-child(4n + 3) img{
  width: 100%;
}
.room:nth-child(4n + 4){
  position: absolute;
  width: calc(35% - 15px);
  height: 250px;
  top: 360px;
  right: 35%;
}
.room:nth-child(4n + 4) img{
  width: 100%;
}

.room:nth-child(7),
.room:nth-child(8){
  top: 970px;
}
.room img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: ease-out 0.6s;
}


.room .roomText{
  background: linear-gradient(90deg, #fff, transparent);
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.room .roomText h4{
  font-size: 22px;
  margin-bottom: 5px;
}

.room .roomText p{
  font-size: 12px;
  font-weight: 700;
}

.room .roomText a{
  display: inline-block;
  position: relative;
  margin-top: 20px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid var(--text);
  font-weight: 700;
  font-size: 10px;
  padding: 10px 20px;
  transition: ease-out 0.3s;
}

.room .roomText a:after,
.room .roomText a:before{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--text);
  transition: all ease 0.3s;
  left: 0;
  top: calc(50% - 1px);
}

.room .roomText a:before{
  left: auto;
  right: 0;
}
.room .roomText a:hover:after,
.room .roomText a:hover:before{
  width: 10px;
}
.room .roomText a:hover{
  background: var(--bg);
  color: var(--text);
}




.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.gallery a{
	width: calc(50% - 5px);
	position: relative;
}

.gallery a .img_box{
	display: flex;
	align-items: flex-start;
	max-height: 20vw;
	overflow: hidden;
}


.gallery a .img_box img{
	width: 100%;
	transition: ease-out 0.3s;
}

.gallery a:hover img{
	transform: scale(1.1);
}






@media screen and (max-width: 1100px){
  header{
    height: 100vh;
  }
  .textBlock{
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 50px;
    background: linear-gradient(0deg, #fff, transparent);
  }
  
  .textBlock h2{
    font-size: 40px;
  }

  
  .textBlock p{
    width: 100%;
    font-size: 14px;
  }
  
  .bgImg{
    width: auto;
    height: 100%;
  }
  
  

  .rooms{
    position: relative;
  	padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

  .room{
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .room:nth-child(n){
      position: static;
      height: auto;
      width: 100%;
  }

  .room:nth-child(n) img{
    width: 100%;
    height: auto;
  }

  .room img{
    position: static;
    transform: translate(0,0);
  }


  .room .roomText{
    background: none;
    width: 100%;
    height: auto;
  }

  .room .roomText h4{
    font-size: 22px;
  }

  .room .roomText p{
    font-size: 14px;
  }

  .room .roomText a{
    font-size: 14px;
  }
  


	.gallery a{
		width: 100%;
		margin-bottom: 30px;
	}
	
	.gallery a .img_box{
		max-height: 100%;
	}
}