header{
  height: calc(100vh - 70px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #000;
  border: 10px solid #fff;
  border-bottom: 0;
}






  
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slick-list,
.slick-track {
  width: 100%;
  height: 100%;
}

.slider__item {
  width: 100%;
  height: 100%;
  outline: none;
}





.slick-dots{
  position: absolute;
  bottom: 170px;
  right: 40px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.slick-dots li{
  margin-top: 10px;
}


.slick-dots li button{
  outline: none;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 0;
  background: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.slick-dots li button:before{
    background: none;
    height: 100%;
    width: 100%;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition:  all ease 0.4s;
    transform: scale(0);
    background: #fff;
  }

.slick-dots li.slick-active button:before{
  transform: scale(1);
}



.textBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;
  background: linear-gradient(45deg, black, transparent)
}

.textBlock h2{
  width: 10ch;
  overflow: hidden;
  font-size: 7vw;
  font-weight: 900;
  white-space: nowrap;
  border-right: 1vw solid #18249f;
  opacity: 0;
}

.slider__item:nth-child(2) .textBlock h2{
  width: 5ch;
}
.slider__item:nth-child(3) .textBlock h2{
  width: 7ch;
}
.slider__item:nth-child(4) .textBlock h2{
  width: 7ch;
}

.slick-active .textBlock h2{
    animation: printed-text .5s steps(13),
             flashin-border 1s step-start infinite;
    opacity: 1;
}

@keyframes flashin-border{
  0%{
    border-color: #fff;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: #fff;
  }
}

@keyframes printed-text{
  from {
    width: 0%;
  }
}

.textBlock p{
  letter-spacing: 1px;
  font-size: 1.7vw;
  text-transform: uppercase;
  margin: 10px 0px;
  opacity: 0;
  width: 50%;
}
.slick-active .textBlock p{
  animation: showTextBlock_p 0.5s forwards;
  animation-delay: 1s;
}
@keyframes showTextBlock_p{
  0%{ opacity: 0;
      transform : translateX(50px) }
  100%{
      opacity: 1;
      transform:  translateX(0);
  }
}
.textBlock a{
  display: inline-block;
  position: relative;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #fff;
  font-weight: 900;
  font-size: 16px;
  padding: 15px 50px;
  opacity: 0;
  transition: all ease 0.3s;
  outline: none;
}
.slick-active .textBlock a{
  animation: showTextBlock_a 0.5s forwards;
  animation-delay: 0.5s;
}
@keyframes showTextBlock_a{
  0%{ opacity: 0;
      transform: translateY(50px); }
  100%{ opacity: 1;
        transform: translateY(0);}
}

.textBlock a:after,
.textBlock a:before{
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #000;
  transition: all ease 0.3s;
  left: 0;
  top: calc(50% - 2px);
}

.textBlock a:before{
  left: auto;
  right: 0;
}
.textBlock a:hover:after,
.textBlock a:hover:before{
  width: 25px;
}
.textBlock a:hover{
  background: #fff;
  color: #000;
}

.bgImg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0.7;
  transition: ease-out 1s;
}

.slick-active .bgImg{
  animation: bgImgScale 8s forwards;
}
@keyframes bgImgScale{
  0%{ transform: scale(1) translateX(-50%); }
  50%{ transform: scale(1.06) translateX(-50%); }
  100%{ transform: scale(1) translateX(-50%); }
}













.rooms{
    position: relative;
    height: 750px; 
  	padding: 10px;
}
  
.rooms a{
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:  hidden; 
    float: left;
    background: #000;
}
  
.rooms a:nth-child(1){
    width: 40%;  
    height: 750px;  
}

.rooms a:nth-child(2){
    width: calc(60% - 10px); 
    margin-left: 10px; 
    height: calc(50% - 10px);    
}
  
.rooms a:nth-child(3),
.rooms a:nth-child(4){
    margin-left: 10px;  
    margin-top: 10px;  
    height: calc(50% + 10px);
    width:  calc(30% - 10px);  
}
  
.rooms a img{
    height: 100%;  
    transform: scale(1.05);
    transition: all ease 0.4s;
    pointer-events: none;
}
  
.rooms a:nth-child(2) img{
    height: auto;
    width: 100%;  
}

.rooms a:hover img{
    opacity: 0.7;
    transform:scale(1);
}
  
.roomText{
    position: absolute;
    color: #fff;
	height: 100%;
	width: 100%;
    pointer-events: none;
	z-index: 1;
	background: linear-gradient(90deg, black, transparent);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 40px;
}



.roomText h4{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 33px;
	transition: all ease 0.3s;
}

.rooms a:hover .roomText h4{
    transform: translateY(-20px);
}


.roomText p{
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px 0px 30px 0px;
}
  
.roomText span{
	display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
	font-weight: 700;
    position: relative;
    border: 2px solid #fff;
    padding: 10px 40px;
	z-index: 10;
	transition: ease-out 0.3s;
}

.roomText span:after,
.roomText span:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 0px;
    background: #000;
    transition: all ease 0.3s;
}
  
.roomText span:after{
    left: auto;
    right: 0;
  
}
  
.rooms a:hover span:after,
.rooms a:hover span:before{
    width: 25px;
}

.rooms a:hover span{
	color: #000;
	background: #fff;
}






.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.gallery a{
	width: calc(50% - 5px);
	position: relative;
}

.gallery a h4{
	margin-top: 5px;
	font-size: 18px;
}

.gallery a .img_box{
	display: flex;
	align-items: flex-start;
	max-height: 20vw;
	overflow: hidden;
}

.gallery a .img_box img{
	width: 100%;
	transition: ease-out 0.3s;
}

.gallery a .img_box:hover img{
	transform: scale(1.1);
}






@media screen and (max-width: 1100px){
  
	
	.slick-dots{
		position: absolute;
		top: 10px;
		left: 50%;
		transform:translateX(-50%);
		flex-direction: row;
		height: 30px;
		width: 120px;
	}
	
	.slick-dots li{
		margin-top: 0;
		margin-right: 20px;
	}
	
	
	.textBlock{
		padding: 10px;
		background: linear-gradient(90deg, black, transparent);
	}
	
	.textBlock h2{
		font-size: 35px;
		font-weight: 700;
	}

	.textBlock p{
		letter-spacing: 1px;
		font-size: 13px;
		text-transform: uppercase;
		margin: 10px 0px;
		opacity: 0;
		width: 80%;
	}

	.textBlock a{
		border: 2px solid #fff;
		font-weight: 700;
		font-size: 15px;
		padding: 15px 30px;
	}

	
	.textBlock a:hover:after,
	.textBlock a:hover:before{
		width: 15px;
	}
	
	.bgImg{
		width: auto;
		height: 100%;
	}



  	
	.rooms{
		position: relative;
		height: auto; 
		padding: 10px;
	}
  
	.rooms a{
		margin: 0 0 10px 0!important;
		width: 100%!important;
		height: 70vw!important;
	}

  
	.rooms a img{
		width: auto!important;
		height: 100%;  
		transform: scale(1);
		transition: all ease 0.4s;
		pointer-events: none;
		opacity: 0.8;
	}
  
	.roomText{
		padding: 20px;
	}



	.roomText h4{
		font-size: 30px;
	}


	.roomText p{
		font-size: 14px;
		margin: 20px 0px 30px 0px;
	}
  
	.roomText span{
		font-size: 13px;
		font-weight: 400;
		padding: 10px 20px;
	}

	.rooms a:hover span:after,
	.rooms a:hover span:before{
		width: 15px;
	}


	.gallery a{
		width: 100%;
		margin-bottom: 30px;
	}
	
	.gallery a .img_box{
		max-height: 100%;
	}
}