
.rooms{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}
.room{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 50%;
	margin-bottom: 10px;
}

.img_box{
	width: 50%;
	height: 33vw;
	overflow: hidden;
	display: flex;
	border: 10px solid #fff;
}

.rooms .room:nth-child(odd){
	flex-direction: row-reverse;
}
.img_box img{
	height: 100%;
	transition: all ease 3s;
}

.rooms .room:nth-child(odd) .img_box{
	align-items: flex-end;
	justify-content: flex-end;
}
.room:hover .img_box img{
	transform: translateX(-50%);
}

.rooms .room:nth-child(odd):hover .img_box img{
	transform: translateX(50%);
}



.info_box{
	width: 50%;
	text-align: left;
	padding: 20px;
}


.info_box h4{
	font-size: 20px;
	font-weight: 700;
}
.info_box p{
	margin: 10px 0px;
	color: #868686;
	font-size: 14px;
}
.info_box ul{
	font-size: 14px;
	font-weight: 700;
	list-style: none;
	position: relative;	
}

.info_box span{
	margin-top: 10px;
	font-weight: 400;
	font-size: 17px;
	display: block;
}

.info_box a{
	display: inline-block;
	position: relative;
	color: var(--text);
	border: 2px solid var(--text);
	padding: 10px 30px;
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px;
	transition: all ease 0.3s;
}
.info_box a:after,
.info_box a:before{
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	width: 0px;
	height: 2px;
	background: var(--text);
	transition: all ease 0.3s;
}
.info_box a:after{
	left: auto;
	right: 0;
}
.info_box a:hover{
  background: var(--bg);
}
.info_box a:hover:after,
.info_box a:hover:before{
	width: 20px;
}





@media screen and (max-width: 1100px){

	.toBook{
		margin-top: 70px;
	}
	
	.room{
		width: 100%;
		margin-bottom: 60px;
	}

	.img_box{
		width: 100%;
		height: auto;
	}

	.img_box img{
		width: 100%;
	}

	.room:hover .img_box img{
		transform: translateX(0%);
	}
	.rooms .room:nth-child(odd):hover .img_box img{
		transform: translateX(0%);
	}



	.info_box{
		width: 100%;
		padding: 10px;
	}


	.info_box h4{
		font-size: 22px;
		font-weight: 700;
	}
	
}